#version: '3.8'

services:
  goapp:
    container_name: api
    image: api:1.0.0
    build:
      context: .
      dockerfile: go.dockerfile
    ports:
      - '8000:8000'
    depends_on:
      - psql

  psql:
    image: postgres:latest
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
      #- "5430:5432"
    volumes:
      - psql_volume:/var/lib/postgresql/data

volumes:
  psql_volume: